<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>
 <header><p style="margin-left: 200px; background-color: blueviolet;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vitae, consectetur
  possimus officiis deserunt maiores itaque asperiores sequi doloremque quasi earum nobis, nam error obcaecati animi
  dolorum quae atque facilis ad qui tenetur iure? Error autem sit optio quisquam repudiandae tenetur odio, explicabo
  omnis voluptatum, quia nemo! Minima itaque eaque nulla est temporibus inventore neque molestiae. Dicta alias dolorem
  asperiores quidem delectus ipsam assumenda et quis officia numquam voluptatibus consectetur quibusdam qui nihil
  placeat, illum enim ea porro! Voluptatem adipisci iste architecto amet temporibus necessitatibus? Numquam accusantium
  eligendi laudantium quaerat temporibus obcaecati, minima ipsum necessitatibus molestiae magni consectetur eos nostrum,
  pariatur dolor doloremque aperiam autem alias debitis? Pariatur exercitationem officia facere quaerat at commodi
  perspiciatis velit quos ipsum, eius blanditiis corrupti? Est ullam accusantium inventore sunt consequuntur enim iusto
  corporis, accusamus quos praesentium, eveniet excepturi. Corporis reiciendis consequuntur ea similique impedit
  provident qui laborum commodi eligendi sed pariatur quaerat iure ex ipsum dignissimos doloremque ab culpa perferendis
  aperiam harum numquam molestias, doloribus cumque nisi. Sint fugit architecto earum tenetur incidunt, laborum facere
  hic perspiciatis nihil voluptatibus quas delectus! Quo officiis porro voluptate ex magni totam repellat. Corrupti,
  reprehenderit natus? Facilis tenetur debitis esse molestiae libero. Architecto officia dicta sunt quis deleniti
  debitis rem voluptate facere ab quae. Distinctio, dolores. Animi eos eius maiores eum, voluptatum harum quis nesciunt!
  Magni quibusdam corporis quam natus, ullam non blanditiis dolore corrupti veniam hic! Earum ratione, officia rem nam
  illum, assumenda commodi culpa, corporis tenetur dolorum ea voluptatum in repellat. Laborum voluptatibus aut itaque
  ipsam enim non rem soluta, ipsa debitis ab, suscipit sed, animi facilis quos necessitatibus. Quibusdam recusandae
  fugit asperiores, porro neque illo atque at repellendus maxime ut assumenda saepe obcaecati delectus cumque dolores
  velit omnis quas, similique veritatis? Eius non amet, sit voluptatum quia, aliquid minus beatae esse in numquam quos
  quidem quam accusamus, quod nemo vero! Aliquam suscipit porro velit! Ipsa dolorem eius nostrum harum vitae sapiente ex
  debitis expedita officiis perferendis nemo animi, laboriosam, a nobis cumque ipsum possimus eos ut explicabo dolore
  dicta. Sapiente accusamus soluta nisi recusandae magnam cupiditate omnis vitae voluptatum odit doloremque ut
  necessitatibus itaque dolorum, quia aspernatur doloribus nulla consectetur, minus repellendus culpa veniam, sed fugiat
  autem! Ducimus culpa similique laudantium? Ullam assumenda earum ad! Officia eos eligendi vel repellendus! Possimus
  maiores accusamus alias vitae fugiat mollitia voluptatibus asperiores nesciunt commodi ipsam porro expedita, nostrum
  tempora architecto. Eveniet est aperiam harum facilis possimus cum voluptatum doloribus voluptas nostrum non qui esse
  atque assumenda quia eius, eum sit fugit accusamus molestiae, rerum provident. Tempore, asperiores hic totam et
  provident praesentium autem exercitationem velit! Atque, incidunt? Ipsum, nulla ut soluta quasi ducimus nobis
  praesentium suscipit harum veritatis fugiat facere ipsa dicta ullam repellendus incidunt nihil similique! Aut quia
  sapiente consectetur voluptatum quidem ea illo rem fugit dicta tenetur cum dignissimos atque optio amet provident, eum
  corrupti minima delectus enim eos porro consequatur. Non et omnis nihil facere adipisci, quibusdam incidunt amet
  dolorum rerum provident accusantium itaque fuga accusamus quis minima beatae earum cum delectus aspernatur aut
  quisquam aperiam rem odit? Sed distinctio repellat sit hic omnis sequi modi totam voluptatum blanditiis fugiat error
  enim nisi consequatur officiis ipsum eum eius placeat, ipsam ex? Quaerat aperiam eaque ipsam impedit libero laudantium
  sed quidem dolorem accusamus. Error odio reiciendis earum quas quia mollitia, repudiandae eius expedita inventore sint
  reprehenderit optio tenetur blanditiis vitae fuga fugiat exercitationem? Repellendus, eum reiciendis! Corporis quos
  eos, eaque recusandae nostrum provident velit rerum nulla quas, quam autem aliquam ullam? Officiis, blanditiis amet!
  Maiores ipsa accusantium ad rerum quisquam placeat aliquid magni commodi beatae enim dicta, aperiam eligendi, facere
  fugiat id minus minima quam mollitia distinctio rem debitis quasi dolore voluptas dolorum. Culpa, magnam! Neque,
  maiores quibusdam? Rerum soluta hic voluptatem quia ipsam quis officia neque cum maxime perferendis cumque, inventore
  laudantium earum fuga natus ea at tempore perspiciatis non tenetur minus error. Reiciendis voluptates, dolor atque
  quod magni incidunt nisi maxime animi cum aperiam doloremque mollitia quas quasi corrupti? Quam, tenetur minus dolorum
  repudiandae fugit, modi quia non, totam qui accusantium debitis autem ab recusandae assumenda deleniti! Minima eaque
  aperiam animi sed nulla! Quas dignissimos magnam ut, fugiat eum voluptate aliquid assumenda quidem maxime nisi rem
  facere, quasi molestias, in aperiam mollitia beatae vitae. Quisquam ad magnam tempore maiores nihil asperiores
  repellendus nostrum ut animi earum eligendi reprehenderit quam amet voluptates voluptatem doloribus rerum similique,
  esse consectetur eveniet inventore numquam dolorum sit aut. Accusantium velit earum maxime similique et est doloremque
  esse, unde aperiam eligendi pariatur dicta eaque, perspiciatis corporis nostrum fugiat, voluptatibus enim ab dolor
  possimus! Necessitatibus enim, sed sapiente doloribus ducimus accusantium, culpa quaerat officiis architecto excepturi
  numquam! Fuga accusantium expedita optio eaque quo mollitia, provident ea officiis inventore vero praesentium quasi
  nostrum possimus amet magnam vel, illo, quaerat modi eveniet minima. Vel quo omnis ut animi temporibus et ducimus
  blanditiis. Excepturi voluptate fugiat eum quam facilis, quas a nemo ab reprehenderit nobis culpa maiores, sed dicta.
  Fugit magnam eius hic repellendus amet ipsum temporibus nostrum iure ducimus repudiandae perferendis, saepe laborum
  provident mollitia exercitationem velit recusandae sed inventore ut iusto. Est, aut! Iste aut molestias fugit,
  voluptas quod nihil vero magnam ea veniam inventore quam error dolore ullam dolor adipisci aspernatur voluptatem ex
  perferendis voluptatibus magni iusto illo. Commodi deleniti, fugiat modi illo blanditiis rem quo accusantium eligendi
  culpa quisquam. Sit unde atque labore incidunt magni architecto, suscipit nostrum praesentium, sunt quas eligendi
  voluptates consectetur reprehenderit cumque expedita debitis fugiat blanditiis perspiciatis. Eius neque, eveniet
  recusandae, corporis consequatur fuga molestiae iusto repellendus qui ut quo voluptas consectetur quibusdam doloribus
  beatae distinctio ipsa facere incidunt quia excepturi. Eius quis placeat perspiciatis libero voluptas ut mollitia
  molestias laudantium, consequatur accusamus nam iure eum aut et similique nobis impedit numquam possimus ex.
  Consequuntur vero, quis reprehenderit officia nam eos itaque odio non! Quae qui optio nisi. Eaque, ipsam illo placeat
  doloremque error eligendi fuga, facilis nesciunt possimus similique perspiciatis omnis asperiores reiciendis quae.
</p></header>
<app-footer></app-footer>